
$main-color : #EDF3F8;
$row : flex;

$between : space-between;
$evenly : space-evenly;
$around : space-around;

$tac : center;
$aic : center;

$active : #DA6D97;
$normal : #BA4270;

$secondary_active : #fff;
$secondary__normal : #1B262F;

$Public__Sans : 'PublicSans-400';
$Public_Sans : 'PublicSans-700';

$Mono : 'RobotoMono';
$DMserif : 'DMSerifDisplay';

$Tablet : 768px;
$Mobile : 375px;

